$accent-color: #DAA520;
$text-color: #222222;
$dark-color: #3E3F43;
$white-color: #ffffff;
$secondary-color: #F9BDBD;
$categories-yellow: #F7DEA6;
$categories-blue: #A8DCEC;
$button-disabled: #c4c4c4;
$footer-link: #8d8d8d;